<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>Login - Shopme Admin</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
<head>
    <title>Please Log In</title>
</head>
<body>
<br>
<div class="container-fluid text-center">
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">

      <div th:if="${param.error}">
          <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
      </div>

      <div th:if="${param.logout}">
          <p class="text-warning">You have been logged out.</p>
      </div>

        <div class="border border-secondary p-3 rounded">
            <p>Log In</p>
            <p>
                <input type="text" name="username" placeholder="E-mail" class="form-control"/>
            </p>
            <p>
                <input type="password" name="password" placeholder="Password" class="form-control" />
            </p>
            <input type="submit" value="Log in" class="btn btn-primary"/>
        </div>
        <a href="/registration">Don't have an account yet?</a>
    </form>
</div>

</body>
</html>